<div
  *ngIf="loadedData"
  [@fadeInOutAnimation]
  class="relative grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-[10px] mr-[-7px] ml-[-7px] transition-all ease-in-out duration-300"
>
  <figure
    class="overflow-hidden border-0 rounded-lg transition-all ease-in-out duration-300"
  >
    <div class="relative overflow-hidden">
      <img
        class="relative flex justify-center items-center overflow-hidden w-full h-[250px] border-0 rounded-lg transition-all ease-in-out duration-300"
        src="/assets/img/portfolio/nova-coding.jpg"
        alt="NovaCoding"
      />
      <a
        href="https://novacoding.ir"
        target="_blank"
        class="absolute p-0 top-0 bottom-0 right-0 left-0 z-30 after:content-[''] after:absolute bg-[rgba(0,0,0,.05)] after:top-0 after:right-0 after:bottom-0 after:left-0 after:opacity-0 after:hover:opacity-100"
        title="NovaCoding"
      ></a>
    </div>
    <h4
      class="relative block py-[15px] px-0 text-[16px] text-[#eee] font-body font-semibold"
    >
      NovaCoding WebDesign And Resume
    </h4>
    <span
      class="inline-block border-0 rounded-3xl py-[2px] px-[7px] bg-[#04b4e0] text-[#f5f5f5] text-[11px] absolute top-[15px] left-[15px] opacity-0 transition-all ease-in-out duration-300 hover:opacity-100"
      >NovaCoding</span
    >
  </figure>
</div>
