@import "https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i";
@import "../node_modules/swiper/swiper-bundle.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* MaterialDesignIcons.com */
  @font-face {
    font-family: "Material Design Icons";
    src: url("/assets/fonts/materialdesignicons-webfont.eot?v=7.0.96");
    src: url("/assets/fonts/materialdesignicons-webfont.eot?#iefix&v=7.0.96")
        format("embedded-opentype"),
      url("/assets/fonts/materialdesignicons-webfont.woff2?v=7.0.96")
        format("woff2"),
      url("/assets/fonts/materialdesignicons-webfont.woff?v=7.0.96")
        format("woff"),
      url("/assets/fonts/materialdesignicons-webfont.ttf?v=7.0.96")
        format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  .mdi:before,
  .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .mdi-home-outline::before {
    content: "\F06A1";
  }

  .mdi-account-outline::before {
    content: "\F0013";
  }

  .mdi-school-outline::before {
    content: "\F1180";
  }

  .mdi-briefcase-outline::before {
    content: "\F0814";
  }

  .mdi-email-outline::before {
    content: "\F01F0";
  }

  .mdi-phone::before {
    content: "\F03F2";
  }

  .mdi-github::before {
    content: "\F02A4";
  }

  .mdi-instagram::before {
    content: "\F02FE";
  }

  .mdi-whatsapp::before {
    content: "\F05A3";
  }

  .mdi-arrow-down-drop-circle-outline::before {
    content: "\F004B";
  }

  .mdi-dot-net::before {
    content: "\F0AAE";
  }

  .mdi-language-html5::before {
    content: "\F031D";
  }

  .mdi-database-outline::before {
    content: "\F1632";
  }

  .mdi-face-agent::before {
    content: "\F0D70";
  }

  .mdi-phone-outline::before {
    content: "\F0DF0";
  }

  .mdi-account-circle::before {
    content: "\F0009";
  }

  .mdi-pencil-circle-outline::before {
    content: "\F0776";
  }

  .mdi-message-outline::before {
    content: "\F0365";
  }

  body {
    @apply overflow-x-hidden;
  }

  .page-title-bg {
    background-image: -webkit-repeating-radial-gradient(
      center center,
      #04b4e0,
      #04b4e0 1px,
      transparent 0px,
      transparent 100%
    );
    background-image: -moz-repeating-radial-gradient(
      center center,
      #04b4e0,
      #04b4e0 1px,
      transparent 0px,
      transparent 100%
    );
    background-image: -ms-repeating-radial-gradient(
      center center,
      #04b4e0,
      #04b4e0 1px,
      transparent 0px,
      transparent 100%
    );
    background-image: radial-gradient(
      center center,
      #04b4e0,
      #04b4e0 1px,
      transparent 0px,
      transparent 100%
    );
    background-image: -webkit-radial-gradient(
      center center,
      #04b4e0,
      #04b4e0 1px,
      transparent 0px,
      transparent 100%
    );
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: 0;
  }

  .animate__animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }

  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.4, 0.4, 0.4);
      transform: scale3d(0.4, 0.4, 0.4);
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.4, 0.4, 0.4);
      transform: scale3d(0.4, 0.4, 0.4);
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 0;
    }
  }

  .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }

  .overflow-wrap-anywhere {
    overflow-wrap: anywhere;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #04b4e0;
  opacity: 0.7;
  border-radius: 5px;
}

.swiper {
  width: 100%;
  margin: 50px auto;
}

.swiper-slide {
  text-align: center;
  line-height: 300px;
}
