<section
  class="absolute bg-[#222] text-[#d5d5d5] w-full h-full md:p-16 p-8 overflow-y-auto overflow-x-hidden font-body animate__animated animate__fadeIn {{
    !hide ? 'animate__delay-2s' : 'animate__delay-1s'
  }}"
>
  <div class="inline-block relative pr-6 pb-2 mb-6">
    <h2
      class="relative text-4xl z-10 text-[#eee] font-semibold after:absolute after:opacity-40 after:top-[20px] after:right-[-25px] after:content-[''] after:h-[30px] after:w-[50px] after:z-0 after:page-title-bg"
    >
      About
      <span class="text-[#04b4e0]">Me</span>
    </h2>
  </div>

  <div class="grid sm:grid-cols-3 grid-cols-1 gap-[10px]">
    <div class="sm:col-span-2 col-span-1">
      <p>
        My name's Mohammad Mehdi Mostatabi And I go by Mehdi. I have worked as
        fullstack freelancer developer For 2 years and still going. I'm a
        self-taught kind of person and learned everything from crash, tutorial
        and full courses. I am currently working as a fulltime backend developer
        in HGE(Hooshmand Gostar Esfahan) and as a freelancer in my team,
        NovaCoding
      </p>
    </div>
    <div class="col-span-1">
      <ul>
        <li>
          <span class="text-[#04b4e0] mr-[5px] font-semibold">Age</span>
          <span>18</span>
        </li>
        <li>
          <span class="text-[#04b4e0] mr-[5px] font-semibold">Residence</span>
          <span>IR</span>
        </li>
        <li>
          <span class="text-[#04b4e0] mr-[5px] font-semibold">Address</span>
          <span>Iran - Isfahan</span>
        </li>
        <li>
          <span class="text-[#04b4e0] mr-[5px] font-semibold whitespace-nowrap"
            >e-mail</span
          >
          <span
            ><a
              class="hover:text-[#09c] transition-all duration-300 overflow-wrap-anywhere"
              href="mailto:mohammadmehdi.mst@gmail.com"
              >mohammadmehdi.mst@gmail.com</a
            ></span
          >
        </li>
        <li>
          <span class="text-[#04b4e0] mr-[5px] font-semibold">Phone</span>
          <span>+98 913 425 3094</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="inline-block relative pr-6 pb-4 mb-3 mt-5">
    <h3
      class="relative text-2xl z-10 text-[#eee] font-semibold font-body after:absolute after:opacity-40 after:top-[10px] after:right-[-20px] after:content-[''] after:h-[30px] after:w-[50px] after:z-0 after:page-title-bg"
    >
      What <span class="text-[#04b4e0]">I Do</span>
    </h3>
  </div>

  <div class="grid grid-cols-1 grid-rows-1 sm:grid-cols-2 sm:grid-rows-2 gap-6">
    <div
      class="animate__animated animate__bounceInLeft animate__fast {{
        !hide ? 'animate__delay-2s' : 'animate__delay-1s'
      }}"
    >
      <div class="table-cell w-14">
        <i
          class="mdi mdi-dot-net relative text-6xl text-[#512bd4] opacity-80"
        ></i>
      </div>
      <div class="text-[#eee]">
        <h4 class="text-[24px] font-semibold my-[5px]">Web Development</h4>
        <p class="text-[0.95em]">
          The development of web applications with the popular and strong
          <a
            href="https://learn.microsoft.com/en-us/aspnet/core/"
            target="_blank"
            ><b>Asp.Net Core</b></a
          >
          framework in a completely specific way and according to your needs
        </p>
      </div>
    </div>
    <div
      class="animate__animated animate__bounceInRight animate__fast {{
        !hide ? 'animate__delay-2s' : 'animate__delay-1s'
      }}"
    >
      <div class="table-cell w-14">
        <i
          class="mdi mdi-language-html5 relative text-6xl text-[#e34c26] opacity-80"
        ></i>
      </div>
      <div class="text-[#eee]">
        <h4 class="text-[24px] font-semibold my-[5px]">Web Design</h4>
        <p class="text-[0.95em]">
          Designing fully responsive, creative and user-friendly templates
          according to your wishes.
        </p>
      </div>
    </div>

    <div
      class="animate__animated animate__bounceInLeft animate__fast {{
        !hide ? 'animate__delay-2s' : 'animate__delay-1s'
      }}"
    >
      <div class="table-cell w-14">
        <i
          class="mdi mdi-database-outline relative text-6xl text-green-600 opacity-80"
        ></i>
      </div>
      <div class="text-[#eee]">
        <h4 class="text-[24px] font-semibold my-[5px]">Database Design</h4>
        <p class="text-[0.95em]">
          Designing SQL(SQL Server, MySQL, ...) and NoSQL(Mongo) databases with
          high performance and speed.
        </p>
      </div>
    </div>

    <div
      class="animate__animated animate__bounceInRight animate__fast {{
        !hide ? 'animate__delay-2s' : 'animate__delay-1s'
      }}"
    >
      <div class="table-cell w-14">
        <i
          class="mdi mdi-face-agent relative text-6xl text-teal-400 opacity-80"
        ></i>
      </div>
      <div class="text-[#eee]">
        <h4 class="text-[24px] font-semibold my-[5px]">Support Site</h4>
        <p class="text-[0.95em]">
          24-hour support and continuous updating of your site as soon as
          possible for free.
        </p>
      </div>
    </div>
  </div>
</section>
